@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/*NavBar-Section*/
.custom-navbar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important; 
  padding: 0 20px !important;
  margin-top: 20px !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6) !important;
  position: sticky !important;
}

.nav-links-container {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;  /* Adjusted gap for better spacing */
  padding-right: 20px !important;
}

.custom-nav-link {
  display: flex !important;  /* This ensures flex layout */
  align-items: center !important;  /* Centers items vertically */
  /*color: white;*/
  font-weight: bold !important;
  text-decoration: none !important;  /* Removes underline */
  font-size: 24px !important;
  font-family: 'Acme', sans-serif !important;
  transition: color 0.3s ease-in-out !important;  /* Smooth color transition */
  margin-right: 10px !important;
  width: 90% !important;
  padding: 8px 12px !important;
  background: linear-gradient(to right, #de3f33, #5fedbe,#cf23cf, #77d754) !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
}

.custom-nav-link svg {
  margin-right: 5px !important;  /* Right margin for spacing */
  width: 24px !important;  /* Icon size */
  height: auto !important;  /* Maintain aspect ratio */
}

.custom-nav-link:hover {
  color: #FFD700 !important;  /* Color on hover */
}

.custom-navbar-brand {
  color: white !important;
  font-size: 1.5em !important;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9) !important;
  cursor: pointer !important;
}

.navbar-logo {
  width: 70px !important;  
  height: 70px !important;  
  background-color: aliceblue !important;
  transition: opacity 0.3s ease !important;  
  border-radius: 50% !important;
}

.navbar-logo:hover {
  opacity: 0.8 !important;
}

.ptag{
  color: aliceblue !important;
  font-size: 30px !important;
  font-weight: bold !important;
  animation: none !important;
  opacity: 1 !important;
}

/* Footer Section */
.footer{
  position: relative !important;
  bottom: 0 !important;
  width: 100% !important;
  font-family: 'Acme', sans-serif !important;
  align-items: center !important;
  background-image: linear-gradient(to right, rgb(16, 15, 15), rgb(83, 83, 83), rgb(103, 103, 103)) !important;
  margin-top: 200px;
}

.footer-icons svg{
  margin-right: 15px !important;
  margin-bottom: 5px !important;
  align-items: center!important;
}

.footer-text{
  text-align: left !important;
  color: aliceblue;
}

.footer-copy{
  text-align: right !important;
  color: aliceblue !important;
}

.footer a {
  color: aliceblue !important; 
  margin: 0 5px !important; /* Space out the icons */
  display: inline-block !important; /* Allows proper spacing and alignment */
}

.footer a:hover, .footer a:focus {
  color: #FFD700 !important; /* Change color on hover/focus for visibility */
  text-decoration: none !important; /* Removes underline */
}

.container {
  width: 100% !important; /* Full width */
  height: 100% !important;
  max-width: 1200px !important; /* Maximum width but can adjust based on the content */
  /*margin: auto;  Centers the container */
  /*padding: 20px;*/
}

.page-container { /* Add this class to the highest level container, maybe right inside <body> */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap { /* This wraps all content but footer */
  flex: 1;
}
/* Mobile styles */
@media (max-width: 767px) {
  .custom-navbar {
    flex-direction: column !important;
  }

  .custom-nav-link, .footer, .ptag {
    font-size: 10px !important; /* Smaller font size for readability on mobile */
  }
}

/* Tablet and desktop styles */
@media (min-width: 768px) {
  .custom-nav-link, .footer, .ptag {
    font-size: 20px !important; /* Larger font size suitable for larger displays */
  }
}

/*Home Page */

.home-image{ 
  padding-bottom: 40px !important;
  mix-blend-mode: multiply !important;
}

.home-image img{
  mix-blend-mode: screen !important;
}


.custom-intro{
  padding-left: 40px !important;
  margin-top: 50px !important;
  font-family: 'Acme', sans-serif !important;
}

.text-gradient {
  background: linear-gradient(to right, #df3529, #5fedbe, #cf23cf, #77d754);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'Acme', sans-serif !important;
}

.semitxt-gradient {
  background: linear-gradient(to right, #e7e6e8, #d4b9d3, #afcdcc, #9cb294);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.emoji-spin {
  display: inline-block;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(14deg);
  }
}

.line-container {
  position: relative;
  height: 20px; /* Adjust as needed */
  /*background-color: #f0f0f0;  Light grey background for visibility */
}

.horizontal-line {
  position: absolute;
  top: 50%; /* Center the line vertically */
  left: 0;
  width: 100%;
  border-top: 8px solid pink; /* Horizontal line */
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the circle exactly in the middle */
  width: 80px; /* Size of the circle */
  height: 80px;
  background-color: white; /* Circle color */
  border: 2px solid black; /* Circle border to match the line */
  border-radius: 50%; /* Make it round */
}

.info-style{
  margin-top: 40px;
  font-family: 'Acme', sans-serif !important;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  background: linear-gradient(to right,rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.profile-img{
  margin-bottom: 20px;
  align-items: center;
  height: 80% !important;
  padding-left: 50px;
}

.description{
  font-size: 25px;
  background: linear-gradient(to right, #bfc3d1, #cbaec6, #b7c2d7, #e1dcc9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'Acme', sans-serif !important;
  text-align: justify;
  margin-right: 20px;
}

.button-container {
  display: block !important;
  margin-left: auto !important;
  /*margin-top: 0px;*/
  margin-right: 50px;
}

.home-contact{
  background: linear-gradient(to right, #e2dad8, #eae8e6, #c01ec0, #51249a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  align-items: center;
  text-align: center;
  font-family: 'Acme', sans-serif !important;
  margin-top: 50px !important;
}

.cnt {
  text-decoration: none !important;
  color: inherit !important;
  padding: 1px !important; 
  border: 2px solid transparent !important; /* Initial border is transparent */
  transition: border-color 0.3s ease !important;
  cursor:  pointer !important;
}

.cnt:hover {
  border-color: #FFD700 !important;  /* Change border color on hover */
}

.connect-logo {
  position: relative !important;
  width: 100% !important;
  height: 100px !important; /* Adjust height as needed */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.circle-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.circle-logo {
  width: 60px; /* Size of the circle */
  height: 60px;
  background-color: white; /* Circle color */
  border: 2px solid black; /* Circle border */
  border-radius: 50%; /* Make it round */
  margin: 0 10px; /* Space between circles */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50% !important;
}

.icon-circle .icon {
  font-size: 40px; /* Adjust icon size as needed */
  color: black; /* Icon color */
  align-items: center;
  justify-content: center;
}

.circle-logo:hover{
  background-color: #FFD700 !important;
}


/* About Section*/

.about-pic{
  margin-top: 50px !important;
  text-align: center !important;
  font-size: bold !important;
  font-family: 'Acme', sans-serif !important;
  background: linear-gradient(to right, #e2dad8, #eae8e6, #c01ec0, #51249a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-left: 30% !important;
  width: 50% !important;
}

.world-spin {
  display: inline-block;
  animation: world 10s infinite linear;
  transform-origin: center;
}

@keyframes world {
  0% {
    transform: rotate(0deg) rotateX(0deg);
  }
  25% {
    transform: rotate(90deg) rotateX(14deg);
  }
  50% {
    transform: rotate(180deg) rotateX(-14deg);
  }
  75% {
    transform: rotate(270deg) rotateX(14deg);
  }
  100% {
    transform: rotate(360deg) rotateX(0deg);
  }
}

.about-me {
  font-size: 20px;
  font-family: 'Acme', sans-serif !important;
  text-align: justify;
  margin-right: 20px;
  list-style-type: none; /* Remove default bullets */
  padding-left: 60px;
}

.about-me li {
  opacity: 0;
  animation: fadeUp 1s ease forwards;
  animation-delay: calc(var(--order) * 1s);
  position: relative;
  background: linear-gradient(to right, #c4b1b1, #e3d6d6, #aaa, #ddd);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.highlight {
  color: #ff4500; /* Highlight color */
  -webkit-text-fill-color: initial; /* Reset text fill color for highlighted words */
  -webkit-background-clip: initial; /* Reset background clip for highlighted words */
}

.about-me li:before {
  content: "•"; /* Custom bullet symbol */
  color: #ff4500; /* Custom bullet color */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5em; /* Adjust size as needed */
  line-height: 1; /* Align bullet vertically with text */
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hide{
  display: none;
}

.skill:hover + .hide{
  display: block;
}


.research-card {
  width: 500px !important; /* Set a fixed width for the card */
  height: 550px !important; /* Set a fixed height for the card */
  margin: 0 auto !important; /* Center the card horizontally */
  display: flex !important;
  flex-direction: column !important;
  background: linear-gradient(135deg, #f6d365 25%, #fda085 50%) !important;
  transition: transform 0.2s !important;
}

.research-card:hover{
  transform: rotateY(15deg) rotateX(15deg) !important;
}

.research-logo {
  width: 60% !important; /* Ensure the image fills the width of the card */
  height: 200px !important; /* Set a fixed height for the image */
  object-fit: cover !important; /* Ensure the image covers the area and maintains aspect ratio */
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.card-body {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  text-align: center !important;
}

.card-title,
.card-text {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  text-align: center !important;
  font-family: 'Acme', sans-serif !important;
}

.card-title{
  font-size: 30px !important;
}

.card-text{
  background: linear-gradient(to right, #423633, #08291e, #2b0f2b, #2b4a1f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 20px !important;
}

.card-button{
  width: 150px !important;
  height: 50px !important;
}

.modal-background{
  font-family: 'Acme', sans-serif !important;
  text-align: justify !important;
  background: linear-gradient(135deg, #be50a8 80%, #ad529a 20%) !important;
}
.modal-body{
  font-family: 'Acme', sans-serif !important;
  text-align: justify !important;
  background: linear-gradient(135deg, #84dff3 55%, #62f0eb 45%) !important;
}
.modal-footer{
  background: linear-gradient(135deg, #cde4ea 55%, #c0eae8 45%) !important;
}

.styles-module_calendar__sT1ND text{
  fill: white !important;
}
.react-activity-calendar__count{
  color: #9929ac !important;
  font-weight: bold !important;
}
.styles-module_legendColors__kFY2e{
  color: #9929ac !important;
  font-weight: bold !important;
}

/* styles.css */
.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image .skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Set a fixed width */
  height: 200px; /* Set a fixed height */
  overflow: hidden;
  border: 2px solid #db56ad; /* Set border color and width */
  border-radius: 20px; /* Rounded edges */
  
}

.profile-image .skill .profile-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the full image is visible within the container */
  object-position: center; /* Center the image within the container */
}

.profile-img{
  display: block;
}

/*
.text-gradient {
  background: linear-gradient(45deg, #ff6f61, #ff9966);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}*/

/* Projects section */

.shadow-card{
  box-shadow: 5px 5px 15px 5px rgb(186, 110, 88) !important;
}

.project-card {
  width: 350px !important; /* Set a fixed width for the card */
  height: 550px !important; /* Set a fixed height for the card */
  margin-top: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important; /* Center the card horizontally */
  margin-bottom: 20px !important;
  display: flex !important;
  flex-direction: column !important;
  background: linear-gradient(135deg, #ad4c25 80%, #ad4c25 20%) !important;
  transition: transform 0.2s !important;
}

.project-card:hover{
  transform: rotateY(20deg) rotateX(20deg) !important;
}
.custom-button{
  background-color: #5d3020 !important;
  color: whitesmoke !important;
  font-size: 22px !important;
  font-family: 'Acme', sans-serif !important;
  border-radius: 25px !important;/* Rounded edges */
  padding: 10px 20px !important; /* Padding for a more prominent button */
}

.custom-button:hover{
  background-color: #6abb6e !important;
}

.project-logo {
  width: 100% !important; /* Ensure the image fills the width of the card */
  height: 200px !important; /* Set a fixed height for the image */
  object-fit: cover !important; /* Ensure the image covers the area and maintains aspect ratio */
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.project-heading{
  background: linear-gradient(to right, #e2dad8, #ad7033, #eda553, #d78f23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center !important;
  font-family: 'Acme', sans-serif !important;
  margin-top: 30px !important;
}